



.container_nav
{
    display: flex; 
    justify-content: center;
    align-items: center;
    /* margin-top: 23px; */
}
.navbar {
    
    width: 80%;
    height:75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:3px;
    border-bottom: #eeeeeeab 2px solid;   
}

.navbar-logo img {
    height: 100px;
    width: 100px; 
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.btn:hover {
    background-color: #777;
}

.sign-in,.sign-up  {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #77777700;
    color: #ffffff;
    padding: 5px;

}

.sign-in:hover {
    /* background-color: #0056b3; */
    
    border: #f7b307 2px solid;
}



.sign-up:hover {
    border: #f7b307 2px solid;
}



.h_home {
    width: 45%;
}
h1 {
    color: #bbb;
    font-size:30px ;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    

}
p
{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;      
    line-height: 1.5;     
    margin: 20px 0;       
    padding: 10px;       

}



.ball2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(
      circle at 30% 30%,
      rgba(255, 255, 255, 0.556),
      rgba(161, 34, 175, 0.313)
    );
  
    position: absolute;
    z-index: -1;
    animation: moveBall2 10s infinite ease-in-out;
  }
  @keyframes moveBall2 {
    0% {
      top: 10%;
      left: 10%;
    }
    25% {
      top: 105%;
      left: 20%;
    }
    50% {
      top: 60%;
      left: 80%;
    }
    75% {
      top: 30%;
      left: 50%;
    }
    100% {
      top: 10%;
      left: 10%;
    }
  }
  
  /* .ball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(
      circle at 30% 30%,
      rgba(255, 255, 255, 0.556),
      rgba(161, 34, 175, 0.313)
    );
    z-index: -1;
    position: absolute;
    animation: moveBall 14s infinite ease-in-out;
  }
  
  @keyframes moveBall {
    0% {
      top: 10%;
      left: 10%;
    }
    25% {
      top: 30%;
      left: 50%;
    }
    50% {
      top: 60%;
      left: 80%;
    }
    75% {
      top: 80%;
      left: 20%;
    }
    100% {
      top: 10%;
      left: 10%;
    } */
  /* } */
.Join_now 
{
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Join{
    width: auto;
    height: 40px;
    border-radius: 10px;
    
    color: #ffffff;
    padding: 5px;
    
}
.Join:hover {
    background-color: #18093d;
    width: 200px;
    height: 44px;
}

.Join a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}


.home {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    position: relative;

    left:  10%;
    margin-top: 40px;
    
}
.play{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    position: relative;
    left:  10%;
    margin-top: 50px;
}

.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    position: absolute;
    position: relative;


}
/* .blur
{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ad;
  z-index: -10;
} */
p{
    font-weight: 900;
}
.play_h {
    width: 40%;
}



.highlight{
    color: #764081;
    font-size: 70px;
}





























.nline{
    /* display: none; */
    transform: rotate(45deg);
    border-left: 10px solid rgb(244, 244, 246);
    /* border-left: 8px solid rgb(244, 244, 246); */

    position: absolute;
    /* top: 50%; */
    left: 50%;
    height: 100%;
    
    /* margin: 22px; */
}

.sign-up-form , .login-form
{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.612);
    justify-content: center;
    align-items: center;

}
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container-sign, .container-login {
    animation: slideInFromTop 0.8s ease-out;
}
.container-sign, .container-login
{
    position: relative;
    width: 750px;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: white 0px 0px 5px 0px;
    border: #ffffff9b 2px solid;
    border-radius: 15px;


}
.image-login
{
    background-image: url("../resrc/log-in.jpg");
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
    border-radius: 0 15px 15px 0;
}

.image-sign 
{
    background-image: url("../resrc/sign-in.jpeg");
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
form {
    
    /* padding: 20px 30px;     */
    background-color: #000000c7;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px ;
}
.form-content
{
    width: 300px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.image-sign , .image-login
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-sign h2 , .image-login h2
{
   color: #ff44e4;
   text-shadow:-1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000; ;
}
/* Form title */
h2 {
    margin-bottom: 20px;
    color: #bbb;
    text-align: center;
}

/* Label styling */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ccc;
}

/* Input styling */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #bbb;
    outline: none;
}
.pass
{
    margin-top: 15px;
}
/* Button styling */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
    background-color: #000000;
    border: 2px solid #bbb;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
} 

button:hover {
    background-color: #77777787;
}

/* Link styling */
.a_to_sign_up {
    color: #bbb;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.a_to_sign_up:hover , .login-form a:hover {
    text-decoration: underline;
    color: #7777779b;
}



.reset-password a:hover {
    text-decoration: underline;
}
.login-form a
{
   color: #bbb;
   text-decoration: none;
   display: block;
   text-align: center;
   margin-top: 10px;
   font-size: 14px;
}
/* .close_container {
    margin-bottom:18px ;
}  */
.close ,.close2{
position: absolute;
top: 4px;
left: 723px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom:5px ;
  color: white;
}

.close:hover , .close2:hover {
    color: #d7390d;
}


 a{
    font-family: Copperplate, Papyrus, fantasy;
    
}
p{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}
  span {
    color: #e5e6e8;
    cursor: pointer;
    font-size: 24px;
  }
h2,h1{
    font-family: 'Games', sans-serif;
    font-size: 60px;
}
h2{
    font-size: 70px;
}


.errors
{
    width: 100%;
    
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif


}