/* backend/auth_app/static/profile.css */

body {
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: #fff;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.profile {
    text-align: center;
    margin-bottom: 20px;
}
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.profile h1 {
    font-size: 28px;
    margin: 10px 0;
    color: #fff;
}
.profile p {
    font-size: 18px;
    margin: 10px 0;
    color: #ecf0f1;
}
.game-info {
    text-align: center;
    margin-top: 20px;
}
.game-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.game-info p {
    font-size: 18px;
    margin: 10px 0;
}
.btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #2980b9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #1abc9c;
}
.form-container {
    display: none;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.form-container label, .form-container input, .form-container button {
    display: block;
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
}
.form-container label {
    font-size: 18px;
    color: #ecf0f1;
}
.form-container input[type="file"], .form-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.form-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-container button:hover {
    background-color: #c0392b;
}
