{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icon.ico' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="{% static 'login.js' %}"></script>
</head>
<body>
<div class="bg-container">
    <img src="https://cdn.dribbble.com/users/888845/screenshots/3955117/media/8389a8adb7d2a0361e1c15337ce2d5cd.png" alt="Background Image" class="bg-image">
</div>
<div class="container">
    <button class="login-link" id="loginButton">Continue with Intra 42</button>
</div>
</body>
</html>
