html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 11px,
      rgba(255, 255, 255, 0.04) 11px,
      rgba(255, 255, 255, 0.04) 19px,
      transparent 19px,
      transparent 29px,
      rgba(255, 255, 255, 0.04) 29px,
      rgba(255, 255, 255, 0.04) 33px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 5px,
      rgb(0, 0, 0) 5px,
      rgb(0, 0, 0) 17px,
      rgb(0, 0, 0) 17px,
      rgb(0, 0, 0) 30px,
      rgb(0, 0, 0) 30px,
      rgb(0, 0, 0) 43px,
      rgb(0, 0, 0) 43px,
      rgb(0, 0, 0) 45px,
      rgb(0, 0, 0) 45px,
      rgb(0, 0, 0) 47px
    ); */
    background-image: url("./resrc/featured-scaled.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* backdrop-filter: blur(200px); */
}

.ball2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.556),
    rgba(161, 34, 175, 0.313)
  );

  position: absolute;
  z-index: -1;
  animation: moveBall2 10s infinite ease-in-out;
}
@keyframes moveBall2 {
  0% {
    top: 10%;
    left: 10%;
  }
  25% {
    top: 80%;
    left: 20%;
  }
  50% {
    top: 60%;
    left: 80%;
  }
  75% {
    top: 30%;
    left: 50%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.556),
    rgba(161, 34, 175, 0.313)
  );
  z-index: -1;
  position: absolute;
  animation: moveBall 14s infinite ease-in-out;
}

@keyframes moveBall {
  0% {
    top: 10%;
    left: 10%;
  }
  25% {
    top: 30%;
    left: 50%;
  }
  50% {
    top: 60%;
    left: 80%;
  }
  75% {
    top: 80%;
    left: 20%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}

.navbar {
  
  width: 75%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #110b1d; */
  padding: 10px 20px;
  margin-bottom: 15px;
  margin: auto;
  margin-top: 10px;
  border-radius:15px;
  border: #ffffffc0 2px solid;
}

.navbar-logo img {
  height: 40px; /* Adjust as needed */
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}
.nav_hover:hover {
  color: bisque;
  /* border-bottom: 2px solid bisque; */
  padding: 5px;
}

.btn:hover {
  background-color: #777;
}

.sign-in {
  width: 100px;
  height: 30px;
  border-radius: 20%;
  background-color: rgba(205, 0, 246, 0.512);
  color: #ffffff;
}

.sign-in:hover {
  background-color: #0056b3;
}

.sign-up {
  width: 100px;
  height: 30px;
  border-radius: 20%;
  background-color: rgba(205, 0, 246, 0.512);
  color: #ffffff;
}

.sign-up:hover {
  background-color: #218838;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;

  justify-content: space-between;
  align-items: center;
}
nav ul li {
  margin-left: 20px;
}
a {
  direction: none;
  list-style-type: none;
  color: #ffffff;
}
.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-size: cover;
}
.notification_icon,
.chat_icon,
.seting_icon,
.log_out_icon {
  margin-top: 20px;
  /* display: flex; */
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: cover;
}
/* .notification_icon {
  background-image: url("./resrc/media/icon/notification.png");
  margin-right: 6px;
  
}
.chat_icon {
  background-image: url("./resrc/media/icon/chat.png");
  
}
.seting_icon {
  background-image: url("./resrc/media/icon/seting.png");
  
}
.log_out_icon {
  background-image: url("./resrc/media/icon/log_out.png");
   */
/* } */
.icons i
{
  font-size: 36px;
  margin-top: 10px;

}
.icons i:hover
{
  font-size: 38px;
  color: #4c3a7be8;
}

img {
  width: 50px;
  height: 50px;
}

.container {
  height: 90%;
  display: flex;
  flex-direction: row;
  /* background-color:#0056b3; */
}


  aside {
  
    margin-right: 20px;
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
  }

article {
  /* background-color: #5b5c1a; */
  /* position: relative;  */
  height: 100%;
  width: 90%;
  /* background-color: #ffffff; */
  /* left: 10%; */
}
.aside_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 74%;
  width: 80px;

  border: #ffffffc0 2px solid;
  border-radius: 15px;
  margin-left:20px ;
}

aside,
article {
  margin-top: 35px;
  padding: 0;
}
.images {
  display: flex;
  justify-content: start;
  align-items: center;
  
  height: 90%;
  width: 50%;
  
  border-radius: 15px;
  flex-direction: column;
}
.welcome_home
{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #0056b3; */

}
.welcome_home h1
{
  font-family: 'Games', sans-serif;
  font-size: 60px;
  
            /* color: white; */
            text-shadow: 
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000; /* Black border */
        
}
.play
{
  width: 100%;
  height: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./resrc/image-game.avif");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 15px;
}
.image1 {
  
  /* height: 30%; */
  width: 45%;
  /* background-color: aqua; */
 
  
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.image2 {
  /* height: 30%; */
  width: 45%;
 
  
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}


img {
  width: 60px;
  height:60px;
}


ul {
  list-style-type: none;
}

#home {
  width: 100%;
  height: 90%;
  /* background-color: #0056b3; */
  display: flex;
  justify-content: start;
  align-items: center;
}



/* #chat {
  width: 100%;
  height: 90%;
  background-color: #9200b3;
} */
#profile {
  width: 100%;
  height: 90%;
  /* background-color: #b30000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  width: 45%;
  height: auto;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
}

.game button {
  width: 90%;
  height: 26%;
  border-radius: 15px;
  margin-top: 30px;
  border: #ddd 2px solid;
  background-color: #ff44e4;
  background-color: rgba(0, 0, 0, 0.7);
  /* opacity: 0; */
  /* transition: opacity 0.3s ease; */
}
/* .play:hover .game button {
  opacity: 1;
} */

.play:hover
{
  background-color: #702670b8;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.game button:hover {
  background-color: #702670b8;
  box-shadow: #bbb 0px 0px 100px;
}

.challenge,
.invite {
  width: 25%;
  height: 60%;
  background-color: #18093d;
  margin-left: 10px;
  border-radius: 20px;
  border: #ffffff9b 2px solid;
}

.challenge h2,
.invite h2 {
  margin: 5px;
  color: #ffffff;
}
.list_friend {
  width: 100%;
  height: 90%;
  
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 80%;
  background-color: #0a0023;
  margin-bottom: 20px;
  height: 20%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image_to_profile {
  background-image: url("https://cdn.intra.42.fr/users/d1c73437a96f8ff71c464ab6651b38e9/yakhay.jpeg");
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;

  /* background-color: #ffffff; */
}

.rank i{
  /* background-image: url("./resrc/media/icon/rank.png"); */
 font-size: 50px;
  color: #bbb;
  margin-bottom: 10px;
  /* background-size: cover; */
  /* background-position: center; */
  /* border-radius: 50%; */

  /* background-color: #ffffff; */
}
h1,
h3 {
  font-family: Lato;
  color: #ffff;
}
#content_scor,
#content_rank,
#login {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.data {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leadrboard,
.global_data,
.achievements {
  background-color: #130039;
  border: #ffffff9b 2px solid;
  margin: auto;
  border-radius: 15px;
}
.leadrboard,
.achievements {
  width: 30%;
  height: 100%;
}
.global_data {
  width: 35%;
  height: 100%;
}
.data_titel {
  width: auto;
  height: 15%;
  /* background-color: #262626; */
  border-radius: 0% 0% 10% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data_titel h2 {
  color: #ffffff;
}

.global_data .data_titel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}







#notifi
{
  width: 100%;
  height: 90%;
  background-color: #0056b3;
} 

/* kkkk */



/* .friend-list li:hover {
  background-color: #f0f0f0;
} */



/* kkk */








.friend-list
{
  width: 18%;
  height: 60%;
  /* background-color: #18093d; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid #bbb ;
  border-radius: 10px;



}
#chat {
  width: 90%;
  height: 90%;
  /* background-color: #b30000; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.friend-list h2 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 10px 0px 0px 15px;
  color: #ffffff;
}
#friends
{
  width: 100%;
  height: 100%;
  
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
  overflow-y: auto;
}
#friends li {
  /* margin: 15px; */
  border-bottom: #000000 solid 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.chat-container
{
  width: 29%;
  height: 94%;
  /* background-color: rgba(45, 42, 42, 0.625); */
  /* background-color: #18093d; */

  display: flex;
  align-items: center;
  /* position: relative; */
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  border:2px solid #bbb ;
  


}
.chat-messages
{
  background-image: url("./resrc/chat.avif");
  width: 100%;
  height: 75%;
  /* background-color: #ffffffe8; */
  /* background-color: #0a0023; */
  background-size: cover;
  background-position: center;

  border-radius: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  border: 1.5px solid #bbbbbb4a;
}
.game_title
{
  font-size: 70px;
  text-shadow: -1px -1px 0 #000,  
  1px -1px 0 #000,
 -1px  1px 0 #000,
  1px  1px 0 #000;
}
.chat-input
{
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: start;
  /* background-color: #701a7d; */
  margin-top: 15px;
  border-radius: 10px; 

}
#message-input
{
  width: 80%;
  height: 43px;
  color: #bbb;
}

.chat-input button
{
  width: 15%;
  height: 43px;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;

  
}
.chat-header
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: absolute; */
  /* top: 0; */
  margin-bottom: 20px;
  /* background-color: #7777; */
  /* border: 2px solid #bbbbbb7b;*/
  border-radius: 10px; 

}
.chat-header h2
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}


.friend-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
/* .chat-message 
{
  position: relative;
} */
.chat-message p {
  margin: 10px;
  width: 50%;
  
  height: auto;
}
.sent  {
  display: flex;
  justify-content:flex-end;
}

.sent p {
 
  text-align: right;
  background-color: #261A17;
  color: #f0f0f0;
  font-family:fantasy;
  border-radius: 5px 0px 5px 0px;
}
.received p
{
  background-color: #D0D8D9;
  font-family:fantasy;
  border-radius: 0px 5px 0px 5px;
}
.received p,.sent p
{
  padding: 1px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.form-container a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.modal-content {
  
  padding: 20px;
  /* background-color: #2e2727a9;
  
  border-radius: 20px;
  border: #ffffff9b 2px solid; */
  width: 100%;
  text-align: center;
  position: relative;
}
.modal-content_set
{
  padding: 20px;
  background-color: #764082;
  
  border-radius: 20px;
  border: #ffffff9b 2px solid;
  width: 300px;
  text-align: center;
  position: relative;
}
.modal-content_no
{
  padding: 20px;
  background-color: #2e2727a9;
  
  border-radius: 20px;
  border: #ffffff9b 2px solid;
  width: 300px;
  text-align: center;
  position: relative;
}
.modal-content_no h2 , .modal-content_no p ,  .modal-content_set h2 , .modal-content_set p
{
  color: #ffffff;
}


.close {
  margin: 0px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.confirm-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.confirm-button {
  background-color: #d9c0c0;
  color: #fff;
}

.cancel-button {
  background-color: #ddd;
  color: #333;
}

.confirm-button:hover {
  background-color: #cc0000;
}

.cancel-button:hover {
  background-color: #bbb;
}
.home_button
{
  background-color: #2e272ea9;
}
/* article{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
} */





/* #settings-modal
{
  background-color: #000000bd;
} */

.forms
{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;

}

.settings-modal
{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.746);
  justify-content:center;
  align-items: center;
}
.setting-contiener
{
  background-color: #764082;
  border: #ffffff9b 2px solid;
  border-radius: 15px;
  width: 650px;
  height: 54%;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.settings-form
{
  padding-top: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 50%;
  height: 90%;
}
.form-container div
{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 100%;
  
}
.center-h3
{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 47%;
  /* background-color: #3498db; */
}
#messages
{
  height: 12px;
}

/* .form-container div div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  margin-top: 10px;
} */
/* .form-container div div input
{
  margin: 10px;
} */
/* .save-button
{
  margin-top: 20px;
} */
#notifi
{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.746);
  justify-content:center;
  align-items: center;
}
.modal_notificaton
{
  margin-right: 22px;
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 12%;
  
  /* background-color: #777777; */
}
.close_notificaton{
  
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.notification-contiener
{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 21%;
  height: 50%;
  background-color: #764082;
  border: #ffffff9b 2px solid;
  border-radius: 15px;
}

.content_notify
{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 92%;
  /* background-color: #262626; */
  overflow-y: auto;
  
  
}
.bar_notify
{
  width: 94%;
  /* height: 5%; */
  /* background-color: #262626; */
  display: flex;
  justify-content: start;
  align-items: center;
  border: #e4e1e19b 2px solid;
  margin: 10px;
}
.bar_notify p
{
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
  width: 30%;
}
.bar_notify button
{
  width: 32%;

  /* background-color: #cc0000; */
  color: #ffffff;
 
  border: none;
  cursor: pointer;
  margin: 5px;
}

/*88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
 
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

#loading {
  display: flex; /* Hidden by default */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f0f0f0; */
}

#loader {
  border: 16px solid;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.ping-pong{
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas{
  border: 3px solid #ffff;
  background-color: black;
  /* border-top: 16px solid #3498db; */
  /* animation: ani 2s linear infinite; */
}

.users{
  display: flex;
}

.user1{
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  margin-right: auto;
}

.user2{
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  margin-left: auto;
}

.display-name{
  margin-left: 10px;
  margin-right: 10px;
  color:lavender;
}

.icon{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.tournament {
/* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: inherit;
  min-width: 800px;
  position: absolute;
  top: 120px;
  left: 150px;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  width: 200px;
  height: 800px;
  margin: 0 40px;
}

.matchup {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  margin: 10px 0;
}

.player {
  border: 1px solid #000;
  background-color: #8c8c8c;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  height: inherit;
  align-items: center;
  display: flex;
}

.champion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.champion .player {
  font-weight: bold;
  height: 50px;
  width: 150px;
  background-color: #f0f0f0;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 400px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
}

.menu-btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-btn:hover {
  background-color: #45a049;
}

#resultModal {
  background-color: #1d1e21;
  border: 2px solid #888;
  text-align: center;
  border-radius: 25px;
  position: fixed;
  width: 280px;
  height: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modalContent {
background-color: white;
margin: 15% auto;
padding: 20px;
border: 2px solid #888;
text-align: center;
border-radius: 25px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#result-gif
{
width: 100%;
height: 80%;
}

#resultMessage
{
color: green;
font-size: 35px;
}

section {
  display: none;
}

section.active {
  display: block;
}

#win-tournament-background-id
{
  height: 100%;
  width: 100%;
}

.student-list {
max-width: 220px;
margin: 20px auto;
padding: 10px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 25px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student {
display: flex;
align-items: center;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.student:last-child {
border-bottom: none;
}

.student-icon {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 15px;
}

.student-name {
font-family: Arial, sans-serif;
font-size: 18px;
color: #333;
}



/* data */
#content_scor {
color: #bbb;
font-weight: bold;
font-size: 20px;
margin-left: 10px;
}

img.profile-pic {
/* border-radius: 50%; */
border: 2px solid black;

}

img.profile-pic.cyan-border {
border: 2px solid cyan;
}

/* end data */





/* leadrboard */
.leadrboard_container
{
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
margin-top: 10px;
width: 100%;
height: 83%;
/* background-color: #3498db; */
overflow-y: auto;
}
.leadrboard_container div p
{
color: #ffffff;
font-size: 20px;
font-weight: bold;
width: 30%;
/* background-color: #cc0000; */
}

.leadrboard_container div
{
display: flex;
/* background-color: #45a049; */
width: 100%;
justify-content:space-between;
align-items: center;
}

/* leadrboard end */


/* Friends */



.Friends , .list_friend
{
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
margin-top: 22px;
width: 100%;
height: 100%;
overflow-y: auto;

}

.Friends div p  ,.list_friend div p
{

font-weight: bold;
width: 40%;
font-size: 14px;
color: #ffffff;

}
.Friends div  ,.list_friend div{
display: flex;

/* width: 100%; */
justify-content:space-around;
align-items: center;

}
.bar_content
{
border: #694a8960 solid 2px;
/* background-color: #3498db; */
width: 95%;
border-radius: 10px;
height: 58px;
border: 1px solid;

}
.bar_content:hover
{
border: #bbb solid 2px;
}
.bar_content button
{
background-color: #0603068b;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.bar_content button:hover
{
background-color: #702670b8;
border: #bbb 2px solid;
}
/* Friends end */

/* history */
.data_history
{

  width: 100%;
  height: 83%;
  overflow-y: auto;
}

.content
{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 10px;

}
.player1 , .player2
{
display: flex;
justify-content: space-around;
align-items:center;
flex-direction: column;

width: 30%;
height: auto;

}
.player1 img , .player2 img
{
width: 50px;
height: 50px;
border-radius: 50%;
margin-top: 10px;
}
.player1 p , .player2 p
{
font-size: 15px;
font-weight: bold;
color: #ffffff;
margin-top: 10px;
}

.result p
{
font-size: 30px;
font-weight: bold;
color: #ec0707;
margin-top: 20px;
}
/* history end */
.profile-settings-img
{
width: 60px;
height: 60px;
/* border-radius: 10%; */
margin-top: 10px;

}

.delet_account
{
color: brown;
}
.form-container {
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
height: 100%;
width: 50%;
border-left: 1px solid #bbb;
}
/* background-color: #45a049; */
.close_set
{
  position: relative;
  top: 0px;
  left: 303px;
  font-size: 30px;
  color: #777;
}
.data_setting
{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
/* margin-top: 10px; */
width: 100%;
height: 60px;
}

.h3_setting
{
  font-size: 40px;
  height: 114px;
}
label
{
color: #bbb;
font-size: 20px;
font-weight: bold;
margin-bottom: 30px;
}
input
{
width: 200px;
height: 30px;
border-radius: 5px;
margin-bottom: 10px;
padding: 5px;
background-color: rgba(45, 42, 42, 0.625);
border: #ffffff9b 2px solid;

}
.submit
{

width: 200px;
height: 40px;

color: #ffffff;
text-align: center;
background-color: #261A17;
border: #ffffff9b 2px solid;
}
.submit:hover
{
background-color: #2e7b56be;
}
.edit
{
/* z-index: 1000; */
width: 40px;
height: 40px;
position: relative;
left: 26px;
top: -35px;

}
.modal_delete
{
display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.prf_to_prf
{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
height: 95px;

}
p, h1, h2 ,a,h4 ,h3{
  font-family: 'Games', sans-serif;
}
span
{
color: #ffffff;
}
span:hover
{
color: red;
}

/* user profile css style*/

.content-user{
display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.746);
  justify-content:center;
  align-items: center;
}
.profile-user{
  background-color: #130039;
  border: #ffffff9b 2px solid;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width:870px;
  height:600px;
  position: relative;
 
}
.profile-user-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 60px 20px 30px 18px; 
}
.profile-user-info div{
  width: calc(90% / 4);
  color: white;
  text-align: center;
}
.profile-user-info div h2 
{ 
  font-family: sans-serif;
  margin-top: 6px;
}
.button_profile
{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.options
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  width: 60%;
  height: 20px;
}
.information_user
{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #ffffff;

}

.profile-user-body
{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 70%;
  /* background-color: #2e2727a9; */
  border-radius: 0px 0px 15px 15px;
}
.profile-user-more_info{
  position:absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64%;
  width: 45%;
  padding-top: 125px;
}
.profile-user-more_info div, .profile-user-more_info span, .statistique-header{
  color: white;
  font-family: sans-serif;
  font-size: large;
  width: 80%;
}
.statistique-header{
  position: absolute;
  top: 230px;
  right: -360px;
}
.statistique-header:hover{
  color : none;
}
.statistique-header i{
  margin: 6px;
}
.profile-user-more_info span{
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
  color: #EAD7E6;
}
.profile-user-more_info div{
  display: flex;
  justify-content: end;
  color: #BBC7CE;
}
.profile-user-more_info hr{
  width: 80%;
  margin-bottom: 30px;
  margin-top: 10px;
  color : rgb(30, 31, 65);
}
.image_user img
{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -26px;
}
.profile-user-status
{
  position: absolute;
  top: 125px;
  left:130px;
  background-color: #2e2727a9;
  padding: 2px;
  border-radius: 5px ;
  display: flex;
}
.profile-user-status-color{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 6px 4px 6px 4px;
}
.close_profile
{
  color: #ec0707bb;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.image_user
{
width: 100px;
height: 50px;

}
.data_information ,.view-friends, .view-matchs
{
width: 90%;
height: 91%;
background-color: #3498db;
}
.view-friends
{
/* display: none; */

background-color: #2acc68;
}
.view-matchs
{
display: none;
background-color: #2a38cc;
}
.profile-user-friend:hover, .profile-user-match:hover
{

border-bottom: 2px solid #ffffff;
size: 20px;
}
.profile-user-friend
{
border-bottom: 2px solid #ffffff;
}
.profile-user-friend, .profile-user-match
{
cursor: pointer;
}




/* history end */
/* css li zadt akatfi*/
.Message-time
{
color: #bbb;
font-size: 10px;
visibility: hidden;
position: absolute;
position: absolute;


}

.Message-Div:hover .Message-time
{
visibility: visible;
}
.Message-content
{
border-radius: 10px;
margin : 5px;
padding : 10px;
max-width : 70%;
display : inline-block;
word-wrap: break-word;
padding: 10px 15px;
position: absolute;
white-space: pre-wrap;
color: black;
}

.header-chat-photouser
{
width: 60px;
height: 60px;
border-radius: 50%;
/* position: absolute;
top : 10px;
left:20px; */
}
.chat-option-user
{
/* position: absolute; */
/* top :23px; */
font-size: 28px;
width: 40px;
/* height: 40px; */
border-radius: 50%;
/* background-color: #333; */
right: 20px;
}
.chat-option-user i
{
margin-left: 42%;
margin-top: 12%;
}
.user-info-menu
{
width: auto;
height: auto;
background-color: #764082;
position:absolute;
top: 128px;
right: 20%;
padding : 8px;
border-radius: 6px;

}

.user-info-menu div{
padding: 10px 10px 10px 4px;
/* margin: 6px 0px 6px 0px; */
}
.user-info-menu div:hover{
background-color: rgb(163, 157, 150);
border-radius: 5px;
/* margin-top: 6px; */

}
.user-info-menu div a{
display: block;
margin: 6px;
color : black;
text-decoration: none;
font-size: 24px;
display: inline;
}
/* .user-info-menu hr{
/* padding: 0; */
/* } */ */
.chat-option-user:hover
{

background-color: rgb(163, 157, 157);
}
.div-block-user
{
background-color: #18093d;
padding: 10px;
border-radius: 6px;
color: #bbb;
font-family: 'games' , sans-serif;

}
/* css li zadt akatfi*/

.friend-list-room
{
  
  width: 90%;
  background-color: #110814ba;
    border: 1px solid #bbbbbb73;

}

#button-chat
{
  
  font-size: 30px;
  color: #bbb;
  cursor: pointer;
  
  
}
#button-chat i:hover
{
  color: #ffffff;

}












/* Basic setup for the home section */
#home {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

/* Animation keyframes for fade-in effect */
@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

/* Styling for the game sections */
.game {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.4s forwards;
}

.game:nth-child(1) {
  animation-delay: 0.4s;
}

.game:nth-child(2) {
  animation-delay: 0.6s;
}

/* Animation keyframes for slide-in effect */
@keyframes slideIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.home_button {
 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect for the buttons */
.home_button:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.1);
}

/* Styling for challenge and invite sections */
.challenge, .invite {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.5s forwards;
}

.challenge {
  animation-delay: 0.8s;
}

.invite {
  animation-delay: 1s;
}

/* Centering the text */
.center {
  /* text-align: center; */
  margin-bottom: 10px;
}

/* Styling for the list of friends */
.list_friend {
  /* overflow-y: auto; */
  transition: height 0.3s;
}





/* Basic setup for the profile section */
#profile {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/* Animation keyframes for fade-in effect */
/* @keyframes fadeIn {
  to {
      opacity: 1;
  }
} */

/* Styling for the welcome section */
.welcome {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.8s forwards;
}

/* Animation keyframes for slide-in effect */


.welcome .prf_to_prf {
  animation-delay: 0.5s;
}

.welcome .rank {
  animation-delay: 1s;
}

.welcome .scor {
  animation-delay: 1.5s;
}

/* Styling for the data sections */
.data .leadrboard, .data .global_data, .data .achievements {
  opacity: 0;
  transform: translateY(40px);
  animation: slideIn 1s forwards;
}

.data .leadrboard {
  animation-delay: 1s;
}

.data .global_data {
  animation-delay: 1.2s;
}

.data .achievements {
  animation-delay: 1.4s;
}

/* Centering the titles */


/* Styling for the containers */
.leadrboard_container, .data_history, .Friends {
  
  transition: height 0.3s;
}
.invet_friend
{
  overflow: auto;
  /* background-color: #218838; */
  height: 88%;
}
.invet_friend div
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invet_friend div p
{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
}
.date
{
  color: #bbb;
  font-size: 5px;
}
.crown i
{
  position: relative;
  top: 13px;
    left: 53px;
  color: #ebbf5c;
}

.circle{
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 15%;
  display: none;
  background-color: #2e2727;

}


.child{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex: 1 0 50%;
  border: 3px solid rgb(78, 77, 77);
  transition: 0.3s ease;
}


.text{
  color: blueviolet;
  display: block;
  position: absolute;
  bottom: 0;
}


.no-statistique{
  font-family: sans-serif;
  font-size: large;
  display: flex;
  color : white;
  position: absolute;
  top: 64%;
  right: 13%;
  color: #EAD7E6;
  display: none;
}

.div-white{
  background-color: #2e2727;
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50%;
  /* opacity: 0; */
}
.fac_one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  /* opacity: 0; */
}
.nav-search
{
  position: relative;
  /* top: 3px;
  left: -235px; */
  color: white;
 
}
.number-win , .number-lose
{
  display: none;
  transition: 0.3s ease;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
}
.number-win {
  color: #5cb85c;
  right: 65px;
}
.number-lose {
  color: #D8636F;
  right: 355px;
}
.nav-search input{
  border-radius: 12px;
  width: 300px;
  height: 35px;
  color: white;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: bold;

}
.win-statistique
{
  margin-left: 17px;
  /* color:  #ead7e6; */

}
.lose-statistique{
  margin-left: 10px;
  color:  #EAD7E6;

}
.win-statistique-div,.win-statistique-div span {
  color: #5cb85c;
}
.lose-statistique-div,.lose-statistique-div span {
  color: #D8636F;
}
.win-statistique-div, .lose-statistique-div, 
.win-statistique-div .lose-statistique, 
.lose-statistique-div .win-statistique
{
  /* color:  #EAD7E6; */
  font-family: sans-serif;
  font-size: medium;
  margin-bottom: 8px;
  
}

.number-statistique{
  width: 120px;
  position: absolute;
  bottom: 3%;
  right : 40%;
  font-weight: bold;
}
.nav-search input{
  border-radius: 12px;
  width: 300px;
  height: 35px;
  color: white;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: bold;

}
.nav-search input::placeholder{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.nav-search i{
  position: absolute;
  right: 12px;
  top: 10px;
}
.users-search-bar
{
  width: 297px;
  height: auto;
  position: absolute;
  top : 102%;
  background-color: #ffffff9b;
  left: 0%;
  border-radius: 6px;
  display: none;
}
.search-username
{
  font-family: sans-serif;
  font-weight: bold;
  display: inline;
  position: absolute;
  top: 6px;
  left: 40px;
}
.div-search-user{
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.3 ease;
}
.div-search-user:hover{
  background-color: #764082;
}
.search-photo_profile
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline;
  position: absolute;
  top: 4px;
  left: 10px;
}